.container button {
    margin-bottom: 20px;
    margin-top: -20px;
}

.signup-container {
    min-height: 100vh;
    margin-top: 0;
    padding-top: 30px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #29335C 50%, #9333EA);
    transition: color 0.2s;
    color: #FFFFFF;
}